#buttons{
  position: absolute;
  right: 0;
  bottom: 0;
  top: 21px;
  width: 260px;
  background: #888;
}

.button{
  font-size:11px;
  width:130px;
  float:left;
  outline:1px solid #aaa;
  background-color: #ddd;
  font-family:helvetica;
  text-align:center;
  font-weight:bold;
  line-height:50px;
  cursor:pointer;
}

.button:hover{
  background:#eee;
}

#glasspane{
  right: 260px;
}

#stop, #emergency, #camera{
  width:260px;
}

#takeoff{
  background:#449d44;
  color: #ffffff;
}

#land{
  background:#e6931e;
  color: #ffffff;
}

#emergency{
  background:#ab413e;
  color: #ffffff;
}

#emergency:hover, #takeoff:hover, #land:hover{
  color:#fff;
}

.button.active{
  background: blue;
  color:#fff;
}
